<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.obdcontrol">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.StartupActivity"
            android:label="testOBD">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectingDeviceActivity" />
        <activity android:name=".SppChatActivity" />
        <activity android:name=".SelectDeviceActivity" />
        <activity
            android:name=".BtScanActivity"
            android:label="@string/title_activity_bt_scan"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="BluetoothDevice.ACTION_FOUND" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <service android:name=".task.ElmCommTask"/>
    </application>

</manifest>